<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bfs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainCustomer"
            android:label="@string/title_activity_maincustomer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuCustomer"
            android:label="@string/title_activity_menucustomer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainOwner"
            android:label="@string/title_activity_mainowner"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuChange"
            android:label="@string/title_activity_menuchange"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MenuSearch"
            android:label="@string/title_activity_menusearch"
            android:theme="@style/AppTheme" />
        <!-- <activity android:name=".MainCustomer" /> -->
        <!-- <activity android:name=".MainOwner" /> -->
        <activity android:name=".HostOrderActivity"></activity>
        <activity android:name=".CustomerOrderActivity"></activity>
        <activity android:name=".HistoryOrderQuery"></activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />

    </application>

</manifest>